html {
    background-image: url('../img/can_jam.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}

#menu {
    background-color: green;
    overflow: hidden;
}

#menu a{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu a.active{
    background-color: yellow;
    color: black;
}

@font-face {
    font-family: cairo;
    src: url(fonts\cairo-regular-webfont.woff);
}

*{
    font-family: cairo;
}



#tagline{
   color: black;

}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}
